<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../style/main.css">
        <title>SERVIDOR</title>
    </head>

    <body>
        <h1> Pagina Web do servidor </h1>
        <p> Dados recebidos do microcontrolador aparecerão aqui </p>
    </body>
</html>

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../styles/main.css">
	<link rel="icon" href="../images/dj.png" />
	<title>View</title>
</head>
<body>
<div class="center">
	<h1>View</h1>
	<p>Essa é a página de acesso ao site. Aqui você pode modificar o banco de dados!</p>
	<div class="center_inside">
		<h2>Mostrando todas as tuplas de uma tabela</h2>
		<p>
			Ao clicar no botão abaixo, você pode ver o exemplo da tabela 'filmes', do banco de dados desenvolvido no 
			python four.
		</p>
		<p>Clique no botão para ver o exemplo!</p>
		<form id="populate_table" name="populate_table" action="http://localhost:5000/populate_table" method="POST">
			<input type="submit">
		</form>
		<table id="first_task_response_table">
		</table>
		<p id="first_task_response_paragraph">Resposta</p>
	</div>
	<div class="center_inside">
		<h2>Selecionando a tabela</h2>
		<p>
			Agora, com o drop-down, é possível selecionar a tabela desejada e consulta-la.
		</p>
		<form id="select_and_populate_table" name="select_and_populate_table" action="http://localhost:5000/select_and_populate_table" method="POST">
			<label for="second_task_table_selector">Tabela:</label><br>
				<select name="second_task_table_selector" id="second_task_table_selector">
					<option value="estudio">Estúdio</option>  <!-- TODO trocar pelo nome da tabela! -->
					<option value="genero">Gênero</option>  <!-- TODO trocar pelo nome da tabela! -->
					<option value="filme">Filme</option>  <!-- TODO trocar pelo nome da tabela! -->
					<option value="continuacao">Continuação</option>  <!-- TODO trocar pelo nome da tabela! -->
				</select>
			<input type="submit">
		</form>
		<table id="second_task_response_table">
		</table>
		<p id="second_task_response_paragraph">Resposta</p>
	</div>
</div>
</body>
<script
	src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous">
</script>
<script type="text/javascript" src="../scripts/main.js" id="db_query_tables_script"></script>
</html>